<template>
  <div class="g-bottom-bar">
    <div class="g-bottom-bar__absolute">
      <div class="g-bottom-bar__relative">
        <!-- item -->
        <div class="g-slot" 
          @click="activate(item)"
          :class="{ 'g-slot--hidden': !item.active }" 
          v-for="item in $store.getters.getMe.pokemons"
          :key="item.id" >
            <pokemon-card :pokemon_file="item.file" :pokemon_id="item.id" :pokemon_name="item.name" :pokemon_power="item.power" />
        </div>
        <!-- item -->
      </div>
    </div>
  </div>
</template>

<script>
import PokemonCard from './pokemonCard.vue';


export default {
  name: "Cards",
  components: {
    PokemonCard
  },
  props: {},
  
  data() {
    return {
      
    };
  },
  methods: {
    activate(el) {
      if(el.power <=0) {
        this.$toast.error(`Questa carta è stata vinta dall'avversario e non puoi usarla`,
        {position:"bottom-left"});
      } else if (el.active) {
        el.active = false;
      } else {
        this.resetCards();
        el.active = true;
        this.$toast.success(`Gira la carta dell'avversario per attaccare`,
        {position:"bottom-left"});
      }
    },
    resetCards() {
        this.$store.state.me.pokemons = this.$store.state.me.pokemons.map(el => {el.active =false; return el});
    }
    
  },
};
</script>
