<template>
  <div id="playCardContainer" @click="flipCard()" style="background-color: red">
    <vue-flip v-model="$store.state.flippedCard" height="253" width="250">
      <template v-slot:front>
        <div class="g-card">
          <div class="g-card__content">
            <img src="/images/default.png" class="pokImg" />
          </div>
        </div>
      </template>
      <template v-slot:back>
        <pokemon-card
          :pokemon_file="pokemon.file"
          :pokemon_id="pokemon.id"
          :pokemon_name="pokemon.name"
          :pokemon_power="pokemon.power"
        />
      </template>
    </vue-flip>
  </div>
</template>
<script>
import PokemonCard from "./pokemonCard.vue";
import VueFlip from "vue-flip";
function getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }
export default {
  name: "MainCard",

  props: {},
  components: {
    PokemonCard,
    "vue-flip": VueFlip,
  },
  data() {
    return {
      flipped: false,
      pokemon: {
        id: "SWSH8_IT_157",
        file: "SWSH8_IT_157.png",
        name: "GengarViixIFc",
        power: 320,
      },
    };
  },
  computed: {
    myPokemon() {
      return this.$store.state.me.pokemons.find(s => s.active);
    },
    oppositePokemon() {
      return this.$store.state.opposite.pokemons.find(s => s.active);
    },
    
  },
  methods: {
    
    flipCard() {
      if(this.myPokemon && !this.$store.state.flippedCard){
        let iP = getRandomInt(0,this.$store.state.opposite.pokemons.length);
        this.pokemon = this.$store.getters.getOppositePokemon(iP);
        this.$store.state.flippedCard = true;
        this.$toast.success(`Usa le tue abilità matematiche per sconfiggere `+this.pokemon.name,
        {position:"top-right"});
        setTimeout(() => {
        this.$store.commit("startChallenge");
        },2000);
      } else if(!this.$store.state.flippedCard) {
        this.$toast.error(`Prima di iniziare, scegli la carta con la quale vuoi attaccare dal mazzo in basso`,
        {position:"bottom-left"});
      }
    },
  },
};
</script>
