<template>
  <div
    id="myModal"
    class="modal"
    v-bind:style="[
      $store.state.modalFrame !== 'close'
        ? { display: 'block' }
        : { display: 'none' },
    ]"
  >
    <!-- Modal content -->
    <div class="modal-content" v-if="$store.state.modalFrame === 'attack'">
      <p class="pkf" style="color: blue">
        Risolvi l'equazione per sferrare l'attacco:
      </p>
      <p
        class="pkf"
        style="color: blue; font-size: 30; text-align: center"
        v-if="$store.state.challenge.mode == 1"
      >
        {{ $store.state.challenge.n }} X
        <img src="/images/questionmark.jpeg" width="32" /> =
        {{ $store.state.challenge.r }}
      </p>
      <p
        class="pkf"
        style="color: blue; font-size: 30; text-align: center"
        v-if="$store.state.challenge.mode == 2"
      >
        {{ $store.state.challenge.n }} X {{ $store.state.challenge.m }} =
        <img src="/images/questionmark.jpeg" width="32" />
      </p>

      <table
        class="pkf"
        style="margin-left: auto; margin-right: auto; color: red"
      >
        <tr>
          <td @click="resolveWith(1)">1</td>
          <td @click="resolveWith(2)">2</td>
          <td @click="resolveWith(3)">3</td>
        </tr>
        <tr>
          <td @click="resolveWith(4)">4</td>
          <td @click="resolveWith(5)">5</td>
          <td @click="resolveWith(6)">6</td>
        </tr>
        <tr>
          <td @click="resolveWith(7)">7</td>
          <td @click="resolveWith(8)">8</td>
          <td @click="resolveWith(9)">9</td>
        </tr>
        <tr>
          <td @click="resolveWith(-1)">C</td>
          <td @click="resolveWith(0)">0</td>
          <td @click="resolveWith(-2)">#</td>
        </tr>
      </table>

      <div
        align="center"
        class="timer"
        v-bind:style="[{ width: $store.state.timer.perc + '%' }]"
      ></div>
    </div>

    <div
      class="modal-content"
      v-if="$store.state.modalFrame === 'youWin'"
      style="position: relative"
    >
      <img src="/images/win.gif" style="margin: 0px auto" />
      <span
        style="
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          width: 100px;
          padding: 20px;
          top: 60px;
          color: red;
          background-color: white;
        "
        class="pkf"
        >+ {{ $store.state.gain }} punti!</span
      >
    </div>
    <div class="modal-content" v-if="$store.state.modalFrame === 'youLose'">
      <img src="/images/lose.gif" style="margin: 0px auto" />
      <span
        style="
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          width: 100px;
          padding: 20px;
          top: 60px;
          color: red;
          background-color: white;
        "
        class="pkf"
        >{{ $store.state.challenge.n }} X {{ $store.state.challenge.m }} =
        {{ $store.state.challenge.r }}</span
      >
    </div>
    <div class="modal-content" v-if="$store.state.modalFrame === 'winGame'">
      <video width="600" height="400" autoplay controls>
        <source src="/audio/Win.mp4" type="video/mp4" />

        Your browser does not support the video tag.</video
      ><br />
      <p align="center">
        <span class="pkf" @click="newPlay()" style="color: red"
          >Nuova Partita</span
        >
      </p>
    </div>



<div class="modal-content" v-if="$store.state.modalFrame === 'loseGame'">
      <img width="600" src="/images/GameOver.jpeg" /><br />
      <p align="center">
        <span class="pkf" @click="newPlay()" style="color: red"
          >Nuova Partita</span
        >
      </p>
    </div>



  </div>
</template>
<script>
export default {
  name: "modalGame",
  data() {
    return {
      gain: 0,
      tmpDigit: 0,
    };
  },
  components: [],
  methods: {
    newPlay() {
      document.location.reload();
    },
    resolveWith(n) {
      if (n < 0) {
        this.tmpDigit = 0;
        
        return;
      }
      if (this.$store.state.challenge.mode == 1) {
        if (n == this.$store.state.challenge.m) {
          this.$store.commit("youWin");
        } else {
          this.$store.commit("youLose");
        }
      } else {
        //calcolo quante cifre ha
        if (this.$store.state.challenge.r < 10) {
          //ha una cifra sola
          if (n == this.$store.state.challenge.r) {
            this.$store.commit("youWin");
          } else {
            this.$store.commit("youLose");
          }
        } else {
          //ha due cifre:
          if (this.tmpDigit == 0) {
            console.log("Salvo la prima cifra", n);
            this.tmpDigit = n;
          } else {
            console.log("Salvo la seconda cifra", this.tmpDigit * 10 + n);
            if (this.tmpDigit * 10 + n == this.$store.state.challenge.r) {
              this.$store.commit("youWin");
            } else {
              this.$store.commit("youLose");
            }
            this.tmpDigit = 0;
          }
        }
      }
    },
  },
};
</script>
