<template>
  <div class="g-card">
    <div class="g-card__content">
      <img :src="url" class="pokImg" />
      <span class="pkf powerCard" v-if="pokemon_power > 0"
        >+ {{ pokemon_power }}</span
      >
      <span class="pkf powerCard" v-else> -- LOSE --</span>
    </div>
    <div class="g-card__lose" v-if="pokemon_power < 0">&nbsp;</div>
  </div>
</template>
<script>
  export default {
  name: 'PokemonCard',
  props: {
   pokemon_id:String,
   pokemon_file: String,
   pokemon_name: String,
   pokemon_power: Number
  },
  computed : {
    url : function() {
      return "/pokemon/"+this.pokemon_file;
    }
  },
  data() {
    return {
      id :"",
      file: "",
      name: "",
      power: 0
    }
  }
}
</script>