<template>
    <div id="score">
        <span class="pkf">Score:</span>
        <span class="pkf">{{ score }}</span>
      </div>
</template>
<script>
export default {
    name : "score",
    data() {
        return {
            
        }
    },
    computed : {
        score: {
            get() {
                return this.$store.state.me.score;
            },
            set(val) {
                this.$store.state.me.score = val;             
            }
            
        }
    }
}
</script>