<template>
     <table class="pkf" style="margin-left: auto; margin-right: auto; color: red">
    <tr>
      <td @click="resolveWith(1)">1</td>
      <td @click="resolveWith(2)">2</td>
      <td @click="resolveWith(3)">3</td>
    </tr>
    <tr>
      <td @click="resolveWith(4)">4</td>
      <td @click="resolveWith(5)">5</td>
      <td @click="resolveWith(6)">6</td>
    </tr>
    <tr>
      <td @click="resolveWith(7)">7</td>
      <td @click="resolveWith(8)">8</td>
      <td @click="resolveWith(9)">9</td>
    </tr>
  </table>
</template>
<script>
export default {
    name : "Tastiera",
    methods: {
    resolveWith(n) {
      console.log(n);
    },
  },
}
</script>