<template>
<div>
  <MainCard />
  <Cards />
  <score />
  <winnerCard />
  <modal-game />
</div>
</template>

<script>
import Cards from './components/cards.vue';
import MainCard from './components/mainCard.vue';
import ModalGame from './components/modalGame.vue';
import score from './components/score.vue';
import winnerCard from './components/winnerCards.vue';

export default {
  name: 'App',
  components: {
    Cards,
    MainCard,
    score,
    winnerCard,
    ModalGame
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
