<!DOCTYPE html>
<html>
  <head>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
      var ws;
      function sendData2WS(type, data) {
        ws.send(
          JSON.stringify({
            type,
            data,
          })
        );
      }
      function WebSocketStart() {
        if ("WebSocket" in window) {
          // Let us open a web socket
          ws = new WebSocket("ws://" + window.location.hostname + ":1337/");
          ws.onopen = function () {
            // Web Socket is connected, send data using send()
            //sendData2WS("setName","Dio Super Serpente!");
          };

          ws.onmessage = function (evt) {
            var received_msg = JSON.parse(evt.data);
            console.log("Fino a qui tutto bene");
            if (received_msg.status == 200) {
              switch (received_msg.event) {
                case "initUser":
                  app.loadPokemons(received_msg.data.pokemons,received_msg.data.oppositePokemons);
                  app.setWinnerGifs(received_msg.data.winnerGifs);
                  console.log("INIT User", received_msg.data.pokemons);
                  break;
                case "playsetReady":
                  console.log("Playset Pronto", received_msg.data);
                  app.setPlaysetStatus(true, received_msg.data.canIAttack);
                  break;
                case "oppositeSetPokemon":
                  console.log("Opposite Set Pokemon", received_msg.data);
                  app.setPlaysetStatus(true, received_msg.data.canIAttack);
                default:
              }
            }

            console.log(evt.data);
          };

          ws.onclose = function () {
            // websocket is closed.
          };
        } else {
          // The browser doesn't support WebSocket
          alert("WebSocket NOT supported by your Browser!");
        }
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>
  <body onload="WebSocketStart()">
    <div id="app">
      <div id="messages">{{ message }}</div>
      <div id="name">
        <span class="pkf">Nome:</span>
        <span class="pkf editable" contenteditable @input="onInput"></span>
      </div>
      <div id="score">
        <span class="pkf">Score:</span>
        <span class="pkf">{{ score }}</span>
      </div>

      <div id="bottomBar">
        <ul>
          <li v-for="pokemon in pokemons" :key="pokemon.url">
            <img :src="pokemon.url" />
          </li>
        </ul>
      </div>
      <div id="playCardContainer" class="w-50">
        <img id="playCardContainer" v-bind:src="pokemonAvversario.url" />
         <span class="pkf powerCard" v-if="pokemonAvversario.power > 0" style="right:135px;top:-160px">+ {{ pokemonAvversario.power }}</span>
      </div>

      <div class="g-content__p-15">
        <div class="w-50" style="top:100px">
          <div class="g-card g-card--over">
            <div class="g-card__content">
              <p style="margin-top: 40px; padding: 20px">
                Nessuna carta vinta ancora
              </p>
            </div>
          </div>
          <div
            class="g-card g-card--over"
            v-for="(item,key) in pokemons_win"
            :key="item.id"
            v-bind:style="{ top: (20*(key+1))+'px',left : (20*(key+1))+'px' ,  'z-index' : (key+1)}"
          >
            <div class="g-card__content">
              <img :src="item.url" class="pokImg" />
            </div>
          </div>

          <!-- inclementa il css: top e left di 20, z-index di 1
				
            <div class="g-card g-card--over" style="top:20px; left: 20px;z-index: 2">
					<div class="g-card__content">
						Ciao
					</div>
				</div>
             -->
        </div>
      </div>

      <div class="g-bottom-bar">
        <div class="g-bottom-bar__absolute">
          <div class="g-bottom-bar__relative">
            <!-- item -->
            <div
              class="g-slot"
              @click="activate(item)"
              :class="{ 'g-slot--hidden': !item.active }"
              v-for="item in pokemons"
              :key="item.id"
            >
              <div class="g-card">
                <div class="g-card__content">
                  <img :src="item.url" class="pokImg" />
                  <span class="pkf powerCard" v-if="item.power > 0">+ {{ item.power }}</span>
                  <span class="pkf powerCard" v-else> -- LOSE --</span>
                </div>
                <div class="g-card__lose" v-if="item.power < 0">
                  &nbsp;
                </div>
              </div>
            </div>

            <!-- item -->
          </div>
        </div>
      </div>
      <!-- The Modal -->
      <div id="myModal" class="modal" v-bind:style="[showModal ? {display: 'block'} : {display:'none'}]">
        <!-- Modal content -->
        <div class="modal-content" v-if="modalFrame === 'attack'">
            <p class="pkf" style="color:blue">Risolvi l'equazione per sferrare l'attacco:</p>
            <p class="pkf" style="color:red; font-size:30; text-align:center"> {{ challenge.n}} X ___ = {{ challenge.r}}</p>
            <table class="pkf" style="margin-left: auto; margin-right: auto;color:red;">
               <tr>
                  <td @click="resolveWith(1)">1</td><td @click="resolveWith(2)">2</td><td @click="resolveWith(3)">3</td>
               </tr>
               <tr>
                  <td @click="resolveWith(4)">4</td><td @click="resolveWith(5)">5</td><td @click="resolveWith(6)">6</td>
               </tr>
               <tr>
                  <td @click="resolveWith(7)">7</td><td @click="resolveWith(8)">8</td><td @click="resolveWith(9)">9</td>
               </tr>
            </table>
            <div align="center" class="timer" v-bind:style="[{width: timer.perc+'%'}]">
                
            </div>
        </div>
        
        <div class="modal-content" v-if="modalFrame === 'youWin'" style="position:relative">
          <img :src="this.getRandomWinnerGif()" style="margin:0px auto"/>
          <span style="position:absolute;left: 0;right: 0; margin-left: auto; margin-right: auto; width: 100px; padding:20px; top:60px;color:red; background-color:white" class="pkf">+ {{ gain }}</span>
        </div>
        <div class="modal-content" v-if="modalFrame === 'youLose'">
        <img src="/images/lose.gif" style="margin:0px auto" />
         <span style="position:absolute;left: 0;right: 0; margin-left: auto; margin-right: auto; width: 100px; padding:20px; top:60px;color:red; background-color:white" class="pkf">{{ challenge.n }} X {{ challenge.m }} = {{ challenge.r }}</span>
        </div>
      </div>
      <!-- end vue-->
    </div>

    <script src="vue.js"></script>
  </body>
</html>
