@font-face {
    font-family: 'Pokemon';
    src: url('/fonts/Pokemon Solid.ttf');
  }


body {
    /* Location of the image */
    background-image: url(/images/bg.jpg);
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn’t tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn’t move when
    the content’s height is greater than the image’s height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
    on the container’s size */
    background-size: cover;
    
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;
    margin: 0px; padding: 0px;overflow: hidden;
}
        .g-content {position: absolute; width: 100%; height: calc(100% - 300px); top:0px; left:0px;}
		.g-bottom-bar {position: absolute; bottom: -10px; left: 0px; width: 100%; height: 100px}
		.g-bottom-bar__absolute {width: 100%; height: 100px; position: relative}
		.g-bottom-bar__relative { position: absolute; bottom:-175px; height: 450px; width: 100%;}
		.g-slot {width: 200px; height: 100%; float: left; margin-right: 20px; display: flex;}
		.g-slot:first-child {margin-left: 20px;}
		.g-slot--hidden {align-items: end}
		.g-card {position: relative; width: 100%; border:1px solid #999; height: 250px; background: #fff; border-radius: 20px;-webkit-box-shadow: 0px 0px 22px 10px rgba(0,0,0,0.11); box-shadow: 0px 0px 22px 10px rgba(0,0,0,0.11);}
		.g-card__content {padding: 9px 15px;}
		.g-card--over {width: 200px; position: absolute; top:0px; left: 0px;}
		.w-50 {width: 50%; position: relative}
		.g-content__p-15 { display: flex; justify-content: space-between; padding: 15px;}
        .g-card__lose {
            position: absolute; width: 100%; height: 250px;background-color: #464646; background-color: rgba(0, 0, 255, 0.5);z-index:99999; top: 0px; left: 0px;
        }
        .pokImg  {
            width: 168px;
        }
        .powerCard {
            position:absolute; 
            top:5px; 
            right:20px; 
            color:red !important; 
            padding:3px; 
            background-color:white;
        }
#playCardContainer {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
}
#messages {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 300px; /* Need a specific value to work */
    font-family: 'Pokemon', 'Georgia', serif;
    font-weight: 900;
    color: yellow;
    font-size: xx-large;
    top: 10px;
}
#name {
    position: absolute; 
    right: 20px; 
    top:160px;
    width: 300px; /* Need a specific value to work */
    background-color: blue;
    height: 50px;
    padding: 10px 10px;
}
#score {
    position: absolute; 
    right: 20px; 
    top:5px;
    width: 300px; /* Need a specific value to work */
    background-color: blue;
    height: 50px;
    padding: 10px 10px;
}
.pkf {
    font-family: 'Pokemon', 'Georgia', serif;
    color: yellow;
    font-size:x-large;
}
td {
    padding: 35px;
    border: 1px solid red;
}
td:hover {background-color: yellow;}

.editable {
    border-bottom-style: dashed;
    border-bottom-width: 3px;
    border-bottom-color: red;
    margin-left: 10px;
    color: white !important;
}

.pokemon {
    float: left;
    padding: 15px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin-left: 10px;
}
#bottomBar {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    height: 10px;
    bottom: 0px
}

/* MODAL */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999999; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.timer {
    background-color: red;
    height: 10px;
    border: 1px solid yellow;
}