<template>
  <div class="g-bottom-bar">
    <div class="g-bottom-bar__absolute">
      <div class="g-bottom-bar__relative">
        <!-- item -->
        <div class="g-slot" 
          @click="activate(item)"
          :class="{ 'g-slot--hidden': !item.active }" 
          v-for="item in pokemons"
          :key="item.id" >
            <pokemon-card :pokemon_file="item.file" :pokemon_id="item.id" :pokemon_name="item.name" :pokemon_power="item.power" />
        </div>
        <!-- item -->
      </div>
    </div>
  </div>
</template>

<script>
import PokemonCard from './pokemonCard.vue';


export default {
  name: "Cards",
  components: {
    PokemonCard
  },
  props: {},
  data() {
    return {
      pokemons: [
        {
          id: "SWSH8_IT_157",
          file: "SWSH8_IT_157.png",
          name: "GengarViixIFc",
          power: 320,
          active:false
        },
        {
          id: "SWSH8_IT_178",
          file: "SWSH8_IT_178.png",
          name: "GrimmsnarlJ",
          power: 170,
          active:false
        },
        {
          id: "SWSH8_IT_185",
          file: "SWSH8_IT_185.png",
          name: "GenesectYM",
          power: 190,
          active:false
        },
      ],
    };
  },
  methods: {
    activate(el) {
      if (el.active) {
        el.active = false;
      } else {
        this.resetCards();
        el.active = true;
      }
    },
    resetCards() {
        this.pokemons = this.pokemons.map(el => {el.active =false; return el});
    }
    
  },
};
</script>
