<template>
  <div id="playCardContainer" @click="flipCard()" style="background-color: red">
    <vue-flip v-model="flipped" height="253" width="250">
      <template v-slot:front>
        <div class="g-card">
          <div class="g-card__content">
            <img src="/images/default.png" class="pokImg" />
          </div>
        </div>
      </template>
      <template v-slot:back>
        <pokemon-card
          :pokemon_file="pokemon.file"
          :pokemon_id="pokemon.id"
          :pokemon_name="pokemon.name"
          :pokemon_power="pokemon.power"
        />
      </template>
    </vue-flip>
  </div>
</template>
<script>
import PokemonCard from "./pokemonCard.vue";
import VueFlip from "vue-flip";

export default {
  name: "MainCard",

  props: {},
  components: {
    PokemonCard,
    "vue-flip": VueFlip,
  },
  data() {
    return {
      flipped: false,
      pokemon: {
        id: "SWSH8_IT_157",
        file: "SWSH8_IT_157.png",
        name: "GengarViixIFc",
        power: 320,
      },
    };
  },
  methods: {
    flipCard() {
      this.flipped = !this.flipped;
    },
  },
};
</script>
