<template>
  <div
    id="myModal"
    class="modal"
    v-bind:style="[showModal ? { display: 'block' } : { display: 'none' }]"
  >
    <!-- Modal content -->
    <div class="modal-content" v-if="modalFrame === 'attack'">
      <p class="pkf" style="color: blue">
        Risolvi l'equazione per sferrare l'attacco:
      </p>
      <p class="pkf" style="color: blue; font-size: 30; text-align: center" v-if="challenge.mode == 1">
        {{ challenge.n }} X <img src="/images/questionmark.jpeg" width="32" /> = {{ challenge.r }}
      </p>
      <p class="pkf" style="color: blue; font-size: 30; text-align: center" v-if="challenge.mode == 2">
        {{ challenge.n }} X {{ challenge.m}} = <img src="/images/questionmark.jpeg" width="32" />
      </p>

      <table
        class="pkf"
        style="margin-left: auto; margin-right: auto; color: red"
      >
        <tr>
          <td @click="resolveWith(1)">1</td>
          <td @click="resolveWith(2)">2</td>
          <td @click="resolveWith(3)">3</td>
        </tr>
        <tr>
          <td @click="resolveWith(4)">4</td>
          <td @click="resolveWith(5)">5</td>
          <td @click="resolveWith(6)">6</td>
        </tr>
        <tr>
          <td @click="resolveWith(7)">7</td>
          <td @click="resolveWith(8)">8</td>
          <td @click="resolveWith(9)">9</td>
        </tr>
      </table>

      <div
        align="center"
        class="timer"
        v-bind:style="[{ width: timer.perc + '%' }]"
      ></div>
    </div>

    <div
      class="modal-content"
      v-if="modalFrame === 'youWin'"
      style="position: relative"
    >
      <img :src="getRandomWinnerGif()" style="margin: 0px auto" />
      <span
        style="
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          width: 100px;
          padding: 20px;
          top: 60px;
          color: red;
          background-color: white;
        "
        class="pkf"
        >+ {{ gain }}</span
      >
    </div>
    <div class="modal-content" v-if="modalFrame === 'youLose'">
      <img src="/images/lose.gif" style="margin: 0px auto" />
      <span
        style="
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          width: 100px;
          padding: 20px;
          top: 60px;
          color: red;
          background-color: white;
        "
        class="pkf"
        >{{ challenge.n }} X {{ challenge.m }} = {{ challenge.r }}</span
      >
    </div>
  </div>
</template>
<script>
export default {
  name: "modalGame",
  data() {
    return {
      showModal: true,
      modalFrame: "attack",
      challenge: {
        n: 1,
        m: 1,
        r: 1,
        mode : 2
      },
      timer: {
        perc: 50,
      },
    };
  },
  components: [],
  methods: {
    getRandomWinnerGif() {
      return "";
    },
    resolveWith(n) {
      console.log(n);
    },
  },
};
</script>
Tastiera
