<template>
    <div id="score">
        <span class="pkf">Score:</span>
        <span class="pkf">{{ score }}</span>
      </div>
</template>
<script>
export default {
    name : "score",
    data() {
        return {
            score:0
        }
    },
}
</script>