<template>
    <div class="g-content__p-15">
        <div class="w-50" style="top:10px">
          <div class="g-card g-card--over">
            <div class="g-card__content">
              <p style="margin-top: 40px; padding: 20px">
                Nessuna carta vinta ancora
              </p>
            </div>
          </div>
          <div
            class="g-card g-card--over"
            v-for="(item,key) in pokemons"
            :key="item.id"
            v-bind:style="{ top: (20*(key+1))+'px',left : (20*(key+1))+'px' ,  'z-index' : (key+1)}"
          >
            <div class="g-card__content">
              <img :src="'/pokemon/'+item.file" class="pokImg" />
            </div>
          </div>

          <!-- inclementa il css: top e left di 20, z-index di 1
				
            <div class="g-card g-card--over" style="top:20px; left: 20px;z-index: 2">
					<div class="g-card__content">
						Ciao
					</div>
				</div>
             -->
        </div>
      </div>
</template>
<script>
export default {
    name : "winnerCard",
    data() {
        return {
            pokemons : [
                {
                    id: "SWSH8_IT_157",
                    file: "SWSH8_IT_157.png",
                    name: "GengarViixIFc",
                    power: 320,
                },{
                    id: "SWSH8_IT_157",
                    file: "SWSH8_IT_157.png",
                    name: "GengarViixIFc",
                    power: 320,
                },{
                    id: "SWSH8_IT_157",
                    file: "SWSH8_IT_157.png",
                    name: "GengarViixIFc",
                    power: 320,
                },{
                    id: "SWSH8_IT_157",
                    file: "SWSH8_IT_157.png",
                    name: "GengarViixIFc",
                    power: 320,
                }
            ]
        }
    },
    methods : {
        winCard() {

        }
    }
}
</script>